<div class='show-wrapper'>
  <p id="notice"><%= notice %></p>

  <div class='manga_info'>
        <h2 class='manga_title'><%= @manga.title %></h2>
        <h3>Summary</h3>
        <p><%= @manga.summary %></p>
        <iframe width="1280" height="650" src="https://www.youtube.com/embed/<%= @manga.vcode %>?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div>


  <%= link_to 'Edit', edit_manga_path(@manga) %> |
  <%= link_to 'Back', mangas_path %>
</div>